/* Портфоліо Section */
.portfolio-section {
    padding: 60px 0;
    background-color: #f4f7f6; /* Задайте світлий фон */
    text-align: center;
}

.portfolio-section .section-title {
    margin-bottom: 40px;
}

.portfolio-grid {
    display: grid;
    /* Ця властивість дозволяє створити адаптивну сітку з елементами, що мають мінімальну ширину 280px */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio-item:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portfolio-item img {
    width: 100%;
    height: 150px;
object-fit: cover;
object-position: center;
display: block;
transition: transform 0.5s ease-in-out;
}

.lang-switcher {
    text-align: right;
    padding: 1rem;
}
.lang-switcher a {
    text-decoration: none;
    color: #4b066d;
    font-weight: bold;
    padding: 0 5px;
}
.lang-switcher a.active {
    color: #a90534;
    cursor: default;
}

```css
.job-toggle {
cursor: pointer; /* Змінює курсор на вказівник при наведенні /
transition: background-color 0.2s ease-in-out; / Додає плавний перехід для зміни фону /
padding: 0.5rem 0; / Додає невеликі внутрішні відступи /
margin-bottom: 0.5rem; / Додає невеликі зовнішні відступи знизу */
}

.job-toggle:hover {
background-color: #f9f9f9; /* Змінює колір фону при наведенні /
border-radius: 0.5rem; / Заокруглює кути при наведенні */
}

.timeline-item {
position: relative;
padding-left: 3rem; /* Збільшує відступ зліва для елементів часової шкали */
}

.timeline-item::before {
content: '';
position: absolute;
left: -0.75rem; /* Коригує положення булету /
top: 0.5rem; / Коригує вертикальне положення булету /
width: 10px; / Зменшує розмір булету /
height: 10px; / Зменшує розмір булету /
border-radius: 50%;
background-color: #a90534; / Змінює колір булету /
border: none; / Видаляє облямівку булету */
}

.border-dashed {
border-left-width: 1px; /* Зменшує товщину пунктирної лінії /
margin-left: 1rem; / Додає відступ для пунктирної лінії /
padding-bottom: 1rem; / Додає відступ знизу для пунктирної лінії */
}

.timeline-item:last-child .border-dashed {
padding-bottom: 0; /* Прибирає зайвий відступ у останнього елементу */
}
```
